{% extends "layouts/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div>
        <h2>Latest Pay Period</h2>
        <canvas id="pay_period_line_graph" width="400" height="100"></canvas>
        <hr>
        <h2>Latest Category Spending</h2>
        <canvas id="category_spending_bar_graph" width="200" height="50"></canvas>
        <hr>
    </div>
    <br>
{% endblock %}


{% block app_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pay_period_line_graph.js') }}"></script>
<script type="text/javascript">
    const pay_period_url = {{ url_for('chart_data.pay_period') | tojson }}
    createPayPeriodLineGraph(pay_period_url);
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/category_spending_bar_graph.js') }}"></script>
<script>
    const category_spending_url = {{ url_for('chart_data.category_spending') | tojson }}
    createCategorySpendingBarGraph(category_spending_url)
</script>
{% endblock %}