{% extends "layouts/base.html" %}

{% block app_content %}
    {% if account_name_header %}
        <h1>Transactions - {{ account_name_header }}</h1>
    {% elif q %}
        <h1>Search Results</h1>
    {% else %}
        <h1> Transactions - All</h1>
    {% endif %}
    <br>

    <table class="table">
        <thead class="thead-dark">
            <!--<th scope="col">TransactionID</th>-->
            <th scope="col">Transaction Date</th>
            {% if not account_name_header %}
            <th scope="col">Account Name</th>
            {% endif %}
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Prediction</th>
            <!--<th scope="col">IsDebit</th>-->
            <th scope="col">Category</th>
        </thead>
    {% for transaction, form in transaction_data %}
        {% include 'main/_transaction.html' %}
    {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif%}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr; </span>Newer Transactions
                </a>
            </li>

            {% set max_pages = 10 %}
            {% set half_max_pages = (max_pages // 2) %}
            {% set start_page = transactions.page - half_max_pages %}
            {% set end_page = transactions.page + half_max_pages %}

            {% if start_page <= 0 %}
                {% set start_page = 1 %}
                {% set end_page = max_pages %}
            {% elif end_page > transactions.pages %}
                {% set start_page = transactions.pages - max_pages + 1 %}
                {% set end_page = transactions.pages %}
            {% endif %}

            {% for num in range(start_page, end_page + 1) %}
            {% if num == transactions.page %}
              <li class="page-item active mr-2"><span class="page-link">{{ num }}</span></li>
            {% else %}
              <li class="page-item mr-2">
                <a class="page-link" href="{{ url_for(route, title=title, page=num, next_url=next_url, prev_url=prev_url, transaction_data=transaction_data, transactions=transactions, account_name_header=account_name_header, account_id=account_id, q=q) }}">{{ num }}</a>
              </li>
            {% endif %}
            {% endfor %}

            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Transactions<span aria-hidden="true"> &rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}